body, html {
  height: 100vh;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: medium;
  background-color: #374d7c;
}

#mainContainer {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#map {
  position: relative;
  width: 60%;
  height: 100vh
}